@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

::selection {
  background-color: #fdb2c2;
  color: rgb(0, 0, 0);
}

.contain {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.bgMainImg {
  width: 100vw;
  height: 100vh;
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.bgColor {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.192);
  filter: blur(8);
}

.nav1 {
  height: 9.5vh;
  width: 46vw;
  background-color: hsl(347, 95%, 85%);
  border-radius: 28px 5px 5px 28px;
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: blur(4);
}

.navCon a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

a:hover {
  color: rgb(209, 96, 96);
}

.logo {
  height: 10vh;
  width: auto;
}

.logo a img {
  height: 9.5vh;
  width: 8vw;
  position: sticky;
  top: 0px;
  left: 0px;
}

.nav2 {
  height: 9.5vh;
  width: 46vw;
  background-color: #fdb2c2;
  border-radius: 5px 28px 28px 5px;
  position: sticky;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainText {
  height: 100%;
  width: 50vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
}

.text {
  margin-left: 60px;
}

.text1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.text2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.text3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.744);
}

.button {
  margin-left: 60px;
}

.button button {
  background-color: #fdb2c2;
  border: none;
  font-size: 1.3rem;
  font-family: "Kode Mono", monospace;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #fdb2c2;
}

.button button:hover {
  background-color: rgba(255, 192, 203, 0);
  color: #fdb2c2;
}

.mainSection {
  width: 100vw;
  height: 1100px;
}

.section1 {
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.941);
  gap: 20px;
}

.sec1 {
  font-size: 2.7rem;
  font-weight: 700;
}

.line {
  height: 0.18vh;
  width: 10vw;
  background-color: #fdb2c2;
}

.sec2 {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.84);
  width: 60vw;
}

.serviceImage {
  height: 370px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 370px;
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 40px;
}

.img2 {
  background-color: #633e6e;
  border-radius: 15px;
}
.img4 {
  background-color: rgb(74, 130, 65);
  border-radius: 15px;
}
.img5 {
  background-color: #b59854;
  border-radius: 15px;
}
.img7 {
  background-color: #50928b;
  border-radius: 15px;
}

.img1 {
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/2.jpg);
  background-size: cover;
}

.img3 {
  background-color: white;
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/4.jpg);
  background-size: cover;
}

.img6 {
  background-color: white;
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/1.jpg);
  background-size: cover;
}

.img8 {
  background-color: white;
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/5.jpg);
  background-size: cover;
}

.seviceTex1 {
  margin-left: 30px;
  margin-top: 40px;
  width: 200px;
  font-size: 2rem;
  font-weight: 900;
  color: #fdb2c2;
}

.seviceTex11 {
  margin-left: 30px;
  width: 250px;
  height: 100%;
  font-size: 1rem;
  color: #ffffff;
}

.mainSection2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.section4 {
  height: 70vh;
  width: 100vw;
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/33.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.line2 {
  height: 0.15vh;
  width: 60vw;
  background-color: #fdb2c2;
}

.section4Tetx1 {
  font-size: 2.2rem;
  font-weight: 700;
}

.section4Tetx2 {
  font-size: 1rem;
  font-weight: 100;
  width: 55vw;
}

.section4 button {
  border-style: none;
  border: 2px solid #fdb2c2;
  background-color: #fdb2c2;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
  margin-top: 50px;
  font-family: "Kode Mono", monospace;
  border-radius: 5px;
}

.section4 button:hover {
  background-color: rgba(255, 192, 203, 0);
  color: #fdb2c2;
  cursor: pointer;
}

.mainSection3 {
  width: 100vw;
  height: 900px;
  color: #fdb2c2;
}

.mainSection33 {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing1 {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.pricing2 {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.886);
  width: 60vw;
  margin-top: 25px;
}

.mainSection333 {
  width: 100vw;
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.line3 {
  height: 0.2vh;
  width: 10vw;
  background-color: pink;
}

.boxPricing {
  width: 22vw;
  height: 550px;
  border: 3px solid #fdb2c2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.basic {
  font-size: 2rem;
  font-weight: 800;
}

.line4 {
  height: 0.2vh;
  width: 18vw;
  background-color: pink;
}

.price {
  font-size: 2rem;
  font-weight: 800;
  color: palevioletred;
}

.boxPricing button {
  border-style: none;
  border: 2px solid #fdb2c2;
  background-color: #fdb2c2;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 2rem;
  margin-top: 20px 0px;
  font-family: "Kode Mono", monospace;
  border-radius: 5px;
}

.boxPricing button:hover {
  background-color: rgba(255, 192, 203, 0);
  color: #fdb2c2;
  cursor: pointer;
}

.mainStatics {
  height: 90vh;
  width: 100vw;
}

.statImg {
  height: 80vh;
  width: 100vw;
  background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-02-2021/beauty-salon-demo_Free/1671668668/web/images/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.statText1 {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-size: 2.8rem;
  color: white;
  font-weight: 800;
  margin-bottom: 15px;
}

.line5 {
  height: 0.24vh;
  width: 10vw;
  background-color: pink;
}

.normalText {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.902);
  font-weight: 100;
  width: 60vw;
  margin-top: 20px;
}

.statText2 {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgBox {
  width: 20vw;
  height: 27vh;
  background-color: rgba(255, 255, 255, 0.242);
  filter: blur(8);
  border-radius: 8px;
  cursor: pointer;
}

.imgBoxText {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 900;
  color: rgb(254, 172, 213);
}

.imgBoxText1 {
  width: 100%;
  height: 15vh;
}

.imgBoxText1 p {
  color: white;
}

.imgBoxText1 i {
  color: rgb(254, 172, 213);
}

.imgBoxText2 {
  width: 100%;
  height: 11vh;
}

